<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Please allow access to photo library so you can easily upload your photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please allow access to photo library so you can easily upload your photos.</string>
	<key>CLIENT_ID</key>
	<string>157580330197-177lfronr5a0nnf015ng0vtrcjg4jk3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157580330197-177lfronr5a0nnf015ng0vtrcjg4jk3p</string>
	<key>API_KEY</key>
	<string>AIzaSyAkg_hTDh20UQdhDBlU02PuV6O-NcjqcYo</string>
	<key>GCM_SENDER_ID</key>
	<string>157580330197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.manShopApp</string>
	<key>PROJECT_ID</key>
	<string>manshopapp</string>
	<key>STORAGE_BUCKET</key>
	<string>manshopapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:157580330197:ios:93352de3b0c0c71eddce5c</string>
</dict>
</plist>
